.button{
		
	padding: 10px 20px;
	line-height: 25px;
	border-radius: 3px;
	background: #fff;
	text-decoration: none;
	border: 1px solid #34495e;
	font-size: 0.8em;
	display: inline-block;
	font-weight: 400;
	margin-right: 10px;

	&:last-child{
		margin-right: 0;
	}

	&:hover{
		background: #34495e;
		color: #fff;
	}

	&.button-submit{
	
		background: #fff;
		border: 1px solid #1abc9c;
		color: #1abc9c;

		&:hover{
			background: #1abc9c;
			color: #fff;
		}

	}

}