.form{
	margin: 10px;
	padding: 10px 20px;
	border-radius : 4px;
	border: 1px solid #ecf0f1;
	width: calc(100% - 20px);

	input{
		font-family: 'Source Sans Pro', sans-serif;
  		font-size: 20px;
  		font-weight: 300;
	}

	.item-form{
		width: 100%;
		margin: 10px 0px;
	}

	.item-text{
		//width: calc(100% - 20px);
		border-radius: 4px;
		background: #ecf0f1;
		input{
			width: 100%;
			border: none;
			background: transparent;
			padding: 10px 20px;
		}
	}

}